<nav class="navbar navbar-expand-lg">
        <div class="container">
          <a class="navbar-brand" href="/Prueba/src/views/index.hbs">DOE</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                <a class="nav-link text-white mr-4"  href="#">Inicio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white mr-4" href="#">Acerca de</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white v" href="#">Servicios</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white mr-4" href="#">Contacto</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

      <style>
    /* Estilos personalizados */
    body {
      background-color: #f8f9fa;
      font-family: Arial, sans-serif;
    }

    .navbar {
      background-color: #1f305e;
      color: white;
    }

    .navbar-brand {
      font-weight: bold;
      font-size: 24px;
    }

    .container {
      margin-top: 50px;
      padding: 15px;
    }

    .card {
      border-radius: 10px;
      width: 100%;
      max-width: 900px; /* Ajusta este valor según tus necesidades */
      margin: 0 auto;
      padding: 20px; /* Ajusta este valor según tus necesidades */
    }

    .card-title {
      margin-bottom: 20px;
      font-weight: bold;
      font-size: 20px;
    }

    .form-group label {
      font-weight: bold;
    }

    .form-control {
      border-radius: 10px;
    }

    .btn {
      margin-top: 20px;
      background-color: #1f305e;
      color: white;
      font-weight: bold;
    }

    .footer-bar {
      background-color: #1f305e;
      padding: 10px;
      color: white;
      text-align: center;
      font-size: 14px;
    }
    
    .separator {
      border: none;
      height: 1px;
      background-color: blue;
      margin: 20px 0;
    }
  </style>
