<nav class="navbar navbar-expand-lg">
  <div class="container">
            <a class="navbar-brand" href="/">DOE</a>
            <div class="btn-group">
        <button type="button" class="btn btn-secondary dropdown-toggle btn btn-outline-warning" data-bs-toggle="dropdown" aria-expanded="false">
          <span class="visually-hidden">Toggle Dropdown</span>
          Registrarse
        </button>
        <ul class="dropdown-menu dropdown-menu-warning">
          <li><a class="dropdown-item  list-group-item-action list-group-item-warning" href="/registro-alumno">Registro Alumno</a></li>
          <li><a class="dropdown-item  list-group-item-action list-group-item-warning" href="/registro-orientador">Registro Orientador</a></li>
          <li><a class="dropdown-item  list-group-item-action list-group-item-warning" href="registro-tutor">Registro Tutor</a></li>
          <li><a class="dropdown-item list-group-item-action list-group-item-warning" href="registro-coordinador">Registro Coordinador</a></li>
        </ul>
            <div>
              <a class="btn btn-outline-warning btn btn-primary btn-lg mx-3 fs-6" href="iniciarSesion">Iniciar Sesión </a>
            </div>
      </div>
            </div>
  </div>
</nav>


