<nav class="navbar mb-5 d-flex" style="background-color:#281fa0">
  <div class="container-fluid">
    <span class="navbar-brand h1 fs-6 text-white">Departamento de Orientación Educativa</span>
<ul class="nav justify-content-end">
  <li class="nav-item">
    <a class="nav-link active text-white" aria-current="page" href="registro">Registrarse</a>
  </li>
  <li class="nav-item ">
    <a class="nav-link text-white" href="iniciarSesion">Inicio de Sesión</a>
  </li>
  
</ul>
  </div>
</nav>