<h1>Archivos </h1>
<style>
  .swiper {
  width: 600px;
  height: 300px;
}
</style>

<div class="swiper">
  <!-- Additional required wrapper -->
  {{#each image}}

    <img src="{{imageURL}}" alt="" class="swiper-slide">

{{/each}} 
    ...
  </div>
  <!-- If we need pagination -->
  <div class="swiper-pagination"></div>

  <!-- If we need navigation buttons -->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>

  <!-- If we need scrollbar -->
  <div class="swiper-scrollbar"></div>
</div>
