<div class="jumbotron">
    <div class="container">
          <h1>Orientacion Educativa DOE</h1>
    </div>
</div>
    
<style>
    /* Estilos personalizados */

    .footer-bar {
      background-color: #1f305e;
      padding: 10px;
      color: white;
      text-align: center;
      font-size: 14px;

    }

  </style>

