<h1>Inicio de sesion</h1>


<form action="/tasks/add" method="post">

<div>
<input type="text" name="nombre" placeholder="name" id="name">
</div>

<di>
<input type="text" name="correo" placeholder="correo" id="correo">
</div>

<div>
<input type="text" name="contraseña" placeholder="contraseña" id="contraseña">
</div>

<button>Guardar</button>

</form>