<div class="container text-center">
  <div class="row">
    <div class="col align-content-center">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Aviso de Privacidad</h3>
        </div>
        <div class="card-body">
          <p class="card-text">
            De acuerdo a lo previsto en la Ley Federal de Protección de Datos
            Personales en Posesión de Particulares, el CENTRO UNIVERSITARIO
            ENRIQUE DÍAZ DE LEÓN A.C., con domicilio en la Avenida ENRIQUE DÍAZ
            DE LEÓN número 336, en la colonia AMERICANA, en la ciudad de
            GUADALAJARA, JALISCO, C.P. 44160, país MÉXICO, se preocupa por la
            protección de sus Datos Personales, que serán tratados de manera
            estrictamente confidencial, incluyendo los datos sensibles
            recabados. Los datos personales serán utilizados indistintamente
            para efectos académicos, administrativos, informativos y de
            publicidad. Para mayor información acerca del tratamiento y de los
            derechos que puede hacer valer sobre el uso de sus datos personales,
            puede acceder y consultar nuestro aviso de privacidad integral
            enviando un correo electrónico a abogadogeneral@unedl.edu.mx así
            como acceder y consultar el aviso de privacidad integral a través de
            la página de internet www.unedl.edu.mx o de manera personal en
            nuestras instalaciones
          </p>
        </div>
      </div>
    </div>
  </div>
</div>