


      <div class="card border border-primary mx-auto p-2 d-flex "style="max-width: 1100px;">
      <div class="card-header text-center mb-5 text-white"style="background-color:#281fa0">Registro</div>
         <div class="card-body">
            <form action="/tasks/add" method="post">
               <div class="row align-items-star">
                     <div class="col">
                        <div class="form-floating-sm text-right mb-2">
                              <label for="floatingInput">Nombre(s)</label>
                              <input type="nombre"class="form-control form-control-sm" id="floatingInput">
                        </div>
                     </div>
                     <div class="col">
                        <div class="form-floating-sm text-right mb-2">
                              <label for="floatingInput">Apellidos</label>
                              <input type="apellidos"class="form-control form-control-sm" id="floatingInput">
                        </div>
                     </div>
               </div>
                  <div class="form-floating-sm text-right mb-2">
                     <label for="exampleInputEmail1">Correo Institucional</label>
                     <input type="email" class="form-control form-control-sm" id="exampleInputEmail1" aria-describedby="emailHelp">
                  </div>
               <div class="form-floating-sm text-right mb-2">
                  <label for="floatingInput">Contraseña</label>
                  <input type="password" class=" form-control form-control-sm text-left" id="floatingPassword">
               </div>
                  <div class="form-floating-sm text-right mb-3">
                  <label class="text-end" for="floatingPassword">Confirmar contraseña</label>
                  <input type="password" class=" form-control form-control-sm" id="floatingPassword">
               </div>

                  <div class="row align-items-star">
                     <div class="col mb-3">
                        <select class="form-select form-select-sm" aria-label="Ejemplo de .form-select-lg">
                        <option selected>Licenciatura</option>
                        <option value="1">Nutrición UdeG</option>
                        <option value="2">Psicología</option>
                        <option value="3">Administración de Empresas</option>
                        <option value="4">Actividad Física Deportiva Saludable</option>
                        <option value="5">Turismo y Gestión de Proyectos</option>
                        <option value="6">Arquitectura</option>
                        <option value="7">Ciencias de la Comunicación</option>
                        <option value="8">Contaduría Pública</option>
                        <option value="9">Derecho</option>
                        <option value="10">Diseño para la Comunicación Gráfica</option>
                        <option value="11">Diseño Gráfico y Digital</option>
                        <option value="12">Gastronomía</option>
                        <option value="13">Ingeniería en Software</option>
                        <option value="14">Mercadotecnia</option>
                        <option value="15">Negocios Internacionales</option>
                        <option value="16">Turismo</option>
                        <option value="17">Administración Estratégica de los Negocios</option>.
                        <option value="18">Mercadotecnia Estratégica Escolarizada</option>
                        <option value="19">Negocios Internacionales</option>
                     </select>
                     </div>
                     
                     <div class="col">
                        <select class="form-select form-select-sm mb-3" aria-label="Ejemplo de .form-select-lg">
                        <option selected>Turno</option>
                        <option value="1">Matutino</option>
                        <option value="2">Mixto</option>
                        <option value="3">Nocturno</option>
                        <option value="4">Sabatino</option>
                     </select>
                     </div>

                     <div class="col">
                        <select class="form-select form-select-sm mb-3" aria-label="Ejemplo de .form-select-lg">
                        <option selected>Grado</option>
                        <option value="1">1° Semestre</option>
                        <option value="2">2° Semestre</option>
                        <option value="3">3° Semestre</option>
                        <option value="4">4° Semestre</option>
                        <option value="5">5° Semestre</option>
                        <option value="6">6° Semestre</option>
                        <option value="7">7° Semestre</option>
                        <option value="8">8° Semestre</option>
                        <option value="9">1° Cuatrimestre</option>
                        <option value="10">2° Cuatrimestre</option>
                        <option value="11">3° Cuatrimestre</option>
                        <option value="12">4° Cuatrimestre</option>
                        <option value="13">5° Cuatrimestre</option>
                        <option value="14">6° Cuatrimestre</option>
                        <option value="15">7° Cuatrimestre</option>
                        <option value="16">8° Cuatrimestre</option>
                        <option value="16">9° Cuatrimestre</option>
                     </select>
                     </div>
                     <div class="col">
                        <select class="form-select form-select-sm mb-3" aria-label="Ejemplo de .form-select-lg mb-3">
                        <option selected>Grupo</option>
                        <option value="1">A</option>
                        <option value="2">B</option>
                        <option value="3">C</option>
                        <option value="3">D</option>
                     </select>
                     </div>
                  </div>

                  <div class="form-check mb-3">
                        <input class="form-check-input  mb-3" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                        Al hacer clic en Registrarte, aceptas las Condiciones, la Política de privacidad y la Política de 
                        cookies.
                        </label> 
                  </div>

                  <div>
                     <button type="button" class="btn btn-sm text-white" style="background-color:#281fa0"
                  >Registrarse</button> 
                  </div>  
            </form>
         </div>
      </div>
      </div>




