  <div class="container">
    <div class="row">
      <div class="col"><br>
        <br>
        <div class="card">
          <div class="card-body"> 
           <form action="/registro/user/orientador/add" method="post">
              <div class="form-group">
               <label for="validationCustom01" class="form-label">Nombre</label>
    <input type="text" class="form-control" id="validationCustom01" name="nombre" required>
                      </div>
                      <div class="form-row">
                        <div class="form-group col-md-6">
                          <label for="validationCustom02" class="form-label">Apellido Paterno</label>
    <input type="text" class="form-control" id="validationCustom02" name="primerApellido" required>
                      </div>
                        <div class="form-group col-md-6">
                           <label for="validationCustom03" class="form-label">Apellido Materno</label>
    <input type="text" class="form-control" id="validationCustom03" name="segundoApellido" required>
                      </div>
            </div>
              <div class="form-group">
                <label for="licenciatura">Licenciatura Asignada</label>
                <select class="form-control" id="licAsig" name="licAsig">
                            <option value="Primer Semestre">Primer Semestre </option>
                            <option value="Segundo Semestre">Segundo Semestre</option>
                            <option value="Tercer Semestre">Tercer Semestre </option>
                            <option value="Cuarto Semestre">Cuarto Semestre</option>
                            <option value="Quinto Semestre">Quinto Semestre </option>
                            <option value="Sexto Semestre">Sexto Semestre </option>
                            <option value="Séptimo Semestre">Séptimo Semestre </option>
                            <option value="Octavo Semestre">Octavo Semestre </option>
                            <option value="Primer Cuatrimestre">Primer Cuatrimestre</option>
                            <option value="Segundo Cuatrimestre">Segundo Cuatrimestre</option>
                            <option value="Tercer Cuatrimestre">Tercer Cuatrimestre</option>
                            <option value="Cuarto Cuatrimestre">Cuarto Cuatrimestre</option>
                            <option value="Quinto Cuatrimestre ">Quinto Cuatrimestre </option>
                            <option value="Sexto Cuatrimestre">Sexto Cuatrimestre</option>
                            <option value="Séptimo Cuatrimestre">Séptimo Cuatrimestre</option>
                            <option value="Octavo Cuatrimestre">Octavo Cuatrimestre</option>
                            <option value="Noveno Cuatrimestre">Noveno Cuatrimestre</option>
                            <option value="Décimo Cuatrimestre">Décimo Cuatrimestre</option>
                  </select>
                </div>
                <div class="form-row">
                
                    <label for="turno">Turno Asignado</label>
                    <select class="form-control" id="turnoAsig" name="turnoAsig">
                        <option value="Seleccione un Turno">Seleccione un Turno</option>
                      <option value="Matutino">Matutino</option>
                      <option value="Vespertino">Vespertino</option>
                      <option value="Nocturno">Nocturno</option>
                      <option value="Nocturno">Sabatino</option>
                    </select>
                  </div>
              <div class="form-group">
                <label for="email">Correo Electrónico</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Ingrese su correo electrónico"required>
              </div>
              <div class="form-row">
              <div class="form-group col-md-6">
                <label for="contrasena">Contraseña</label>
                <input type="password" class="form-control" id="contraseña" name="contraseña" placeholder="Ingrese una contraseña"required>
              </div>
              <div class="form-group col-md-6">
                <label for="confirmar-contrasena">Confirmar Contraseña</label>
                <input type="password" class="form-control" id="confirmarcontraseña" placeholder="Confirme la contraseña"required>
              </div>
            </div>
              <div class="col-12">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
      <label class="form-check-label" for="invalidCheck">
        Acepto las <a  href="/politicas/de/Privacidad">Politicas de Privacidad.</a>
      </label>
      <div class="invalid-feedback">
        Debes aceptar las Politicas de Privacidad
      </div>
    </div>
  </div>
            <div class="text-center">
              <button type="submit" class="btn btn-primary">Registrarte</button>
            </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <div class="footer-bar">
    <p>Derechos reservados &copy; 2023 Universidad</p>
  </div>
