<div class="container">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Alumno</h5>
            <form action="/signup/add" method="post">
                  <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Ingrese su nombre">
                  </div>
                   <hr class="separator">
                  <div class="form-group">
                <label for="email">Correo Electrónico</label>
                <input type="email" class="form-control" id="email" name="email"placeholder="Ingrese su correo electrónico">
              </div>
              <div class="form-row">
              <div class="form-group col-md-6">
                <label for="contraseña">Contraseña</label>
                <input type="password" class="form-control" id="contraseña" name="contraseña" placeholder="Ingrese una contraseña">
              </div>
              
            </div>
               
                      <button type="submit" class="btn btn- block  btn-outline-warning"  
                       >Registrarse</button>
            </form>
        </div>
      </div>
    </div>
  </div>
</div>

