  <div class="container">
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-body">
            
           <form action="/registro/user/orientador/add" method="post">
              <div class="form-group">
                <label for="nombre">Nombre</label>
                <input type="text" class="form-control" name="nombre" placeholder="Ingrese su nombre">
              </div>

              <div class="form-row">
              <div class="form-group col-md-6">
                <label for="apellido">Primer apellido</label>
                <input type="text" class="form-control" id="primerApellido" 
              name="primerApellido"   placeholder="Ingrese primer apellido">
              </div>
              <div class="form-group col-md-6">
                <label for="apellido">Segundo apellido</label>
                <input type="text" class="form-control" id="segundoApellido" name="segundoApellido" placeholder="Ingrese segundo apellido">
              </div>
            </div>
            
              <div class="form-group">
                <label for="licenciatura">Licenciatura Asignada</label>
                <select class="form-control" id="licAsig" name="licAsig">
                    <option value="Nutricion UdeG">Nutrición UdeG</option>
                    <option value="Psicologia">Psicología</option>
                    <option value="Administracion de Empresas">Administración de Empresas</option>
                    <option value="Actividad Fisica Deportiva Saludable">Actividad Física Deportiva Saludable</option>
                    <option value="Turismo y Gestion de Proyectos">Turismo y Gestión de Proyectos</option>
                    <option value="Arquitectura">Arquitectura</option>
                    <option value="Ciencias de la Comunicacion">Ciencias de la Comunicación</option>
                    <option value="Contaduria Publica">Contaduría Pública</option>
                    <option value="Derecho">Derecho</option>
                    <option value="Derecho Semiescolarizado">Derecho Semiescolarizado</option>
                    <option value="Diseño para la Comunucacion Grafica">Diseño para la Comunicación Gráfica</option>
                    <option value="Diseño Grafico y Digital">Diseño Gráfico y Digital</option>
                    <option value="Gastronomia">Gastronomía</option>
                    <option value="Ingenieria en Software">Ingeniería en Software</option>
                    <option value="Mercadotecnia">Mercadotecnia</option>
                    <option value="Negocios Internacionales">Negocios Internacionales</option>
                    <option value="Administracion Estrategica de los Negocios">Administración Estratégica de los Negocios</option>
                    <option value="Mercadotecnia Estrategica Ezcolarizada">Mercadotecnia Estratégica Escolarizada</option>
                    <option value="Mercadotecnia Estrategica Mixta">Mercadotecnia Estratégica Mixta</option>
                  </select>
                </div>
                <div class="form-row">
                <div class="form-group col-md-4 mb-3">
                    <label for="grado">Grado Asignado</label>
                    <select class="form-control" id="gradoAsig" name="gradoAsig">
                      <option value="1">Primer Grado</option>
                      <option value="2">Segundo Grado</option>
                      <option value="3">Tercer Grado</option>
                      <option value="4">Cuarto Grado</option>
                      <option value="5">Quinto Grado</option>
                      <option value="6">Sexto Grado</option>
                      <option value="7">Séptimo Grado</option>
                      <option value="8">Octavo Grado</option>
                    </select>
                  </div>
                  <div class="form-group col-md-4 mb-3">
                    <label for="grupo">Grupo Asignado</label>
                    <select class="form-control" id="grupoAsig" name="grupoAsig">
                      <option value="Seleccione un grupo">Seleccione un Grupo</option>
                      <option value="A">Grupo A</option>
                      <option value="B">Grupo B</option>
                      <option value="C">Grupo C</option>
                      <option value="D">Grupo D</option>
                      <option value="E">Grupo E</option>
                      <option value="F">Grupo F</option>
                      <option value="G">Grupo G</option>
                      <option value="H">Grupo H</option>
                    </select>
                  </div>
                  <div class="form-group col-md-4 mb-3">
                    <label for="turno">Turno Asignado</label>
                    <select class="form-control" id="turnoAsig" name="turnoAsig">
                        <option value="Seleccione un Turno">Seleccione un Turno</option>
                      <option value="Matutino">Matutino</option>
                      <option value="Vespertino">Vespertino</option>
                      <option value="Nocturno">Nocturno</option>
                    </select>
                  </div>
                </div>


              <div class="form-group">
                <label for="email">Correo Electrónico</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Ingrese su correo electrónico">
              </div>
              <div class="form-row">
              <div class="form-group col-md-6">
                <label for="contrasena">Contraseña</label>
                <input type="password" class="form-control" id="contraseña" name="contraseña" placeholder="Ingrese una contraseña">
              </div>
              <div class="form-group col-md-6">
                <label for="confirmar-contrasena">Confirmar Contraseña</label>
                <input type="password" class="form-control" id="confirmarcontraseña" placeholder="Confirme la contraseña">
              </div>
            </div>
            
            <div class="text-center">
              <button type="submit" class="btn btn-primary">Registrarse</button>
            </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-bar">
    <p>Derechos reservados &copy; 2023 Universidad</p>
  </div>


           
