
  <h5 class="card-title">Formato de Autorización  Tutorial/Intervención Educativa</h5>
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-body">
            <form action="/formato/solicitud/autorizacion/intervencion/tutorial/educativa" method="post">
              <div class="texto-separador">Nombre del Tutor</div>
              <div class="form-group">
                <label for="nombre">Nombre</label>
                <input type="text" class="form-control" id="nombre" placeholder="Ingrese su nombre">
              </div>

              <div class="form-row">
              <div class="form-group col-md-6">
                <label for="apellido">Primer apellido</label>
                <input type="text" class="form-control" id="apellido" placeholder="Ingrese primer apellido">
              </div>
              <div class="form-group col-md-6">
                <label for="apellido">Segundo apellido</label>
                <input type="text" class="form-control" id="apellido" placeholder="Ingrese segundo apellido">
              </div>
            </div>
              <div class="form-group">
                <label for="carrera">Carrera:</label>
                <input type="text" class="form-control" id="carrera" placeholder="Ingrese la carrera">
              </div>
              <div class="form-group">
                <label for="gradoGrupoTurno">Grado, grupo y turno:</label>
                <input type="text" class="form-control" id="gradoGrupoTurno" placeholder="Ingrese el grado, grupo y turno">
              </div>
              <div class="form-group">
                <label for="numAlumnos">Número de alumnos:</label>
                <input type="number" class="form-control" id="numAlumnos" placeholder="Ingrese el número de alumnos">
              </div>
              <p class="texto-separador">Datos del Ponente:</p>
              <div class="form-group">
                <label for="nombre">Nombre</label>
                <input type="text" class="form-control" id="nombre" placeholder="Ingrese su nombre">
              </div>
        
              <div class="form-group ">
                <label for="apellido">Primer apellido</label>
                <input type="text" class="form-control" id="apellido" placeholder="Ingrese primer apellido">
              </div>
              <div class="form-group">
                <label for="objetivo">Objetivo de la ponencia o la intervención:</label>
                <textarea class="form-control" id="objetivo" rows="4" placeholder="Ingrese el objetivo de la ponencia o la intervención"></textarea>
              </div>
              <div class="form-group">
                <label for="necesidades">Necesidades por cubrir:</label>
                <textarea class="form-control" id="necesidades" rows="4" placeholder="Ingrese las necesidades por cubrir"></textarea>
              </div>
              <p class="texto-separador">Datos del Coordinador:</p>
              <div class="form-group">
                <label for="nombre">Nombre</label>
                <input type="text" class="form-control" id="nombre" placeholder="Ingrese su nombre">
              </div>
        
              <div class="form-group ">
                <label for="apellido">Primer apellido</label>
                <input type="text" class="form-control" id="apellido" placeholder="Ingrese primer apellido">
              </div>

              <div class="text-center">
                <button type="submit" class="btn btn-primary">Enviar</button>
              </div>
             
            </form>
              
          </div>
        </div>
      </div>
    </div><button type="submit" class="btn btn-primary">Descargar formato</button>
  </div>

