
  <h5 class="card-title">Solicitud de Apoyo de Orientación Educativa</h5>
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-body">
            <form action="/formato/">
              <p class="texto-separador">Datos de la Solicitud:</p>
       
              <div class="form-group">
                <label for="fechaIntervencion">Fecha de hoy:</label>
                <input type="date" class="form-control" id="fechaIntervencion">
              </div>
              <div class="form-group">
                <label for="actividad">Actividad solicitada:</label>
                <select class="form-control" id="actividad">
                  <option value="Taller">Taller</option>
                  <option value="Conferencia">Conferencia</option>
                  <option value="Charla">Charla</option>
                  <option value="Otros">Otros (especifique)</option>
                </select>
              </div>
              <div class="form-group">
                <label for="fechaIntervencion">Fecha para la intervención:</label>
                <input type="date" class="form-control" id="fechaIntervencion">
              </div>
              
              
              <div class="form-row">
                <div class="form-group col-md-4">
                  <label for="hora">Hora:</label>
                  <select class="form-control" id="hora">
                    <option value="01">01</option>
                    <!-- Otras opciones de horas -->
                    <option value="12">12</option>
                  </select>
                </div>
                <div class="form-group col-md-4">
                  <label for="minutos">Minutos:</label>
                  <select class="form-control" id="minutos">
                    <option value="00">00</option>
                    <option value="15">15</option>
                    <!-- Otras opciones de minutos -->
                    <option value="45">45</option>
                  </select>
                </div>
                <div class="form-group col-md-4">
                  <label for="periodo">Período:</label>
                  <select class="form-control" id="periodo">
                    <option value="AM">AM</option>
                    <option value="PM">PM</option>
                  </select>
                </div>
              </div>
              <div class="texto-separador">Quién solicita (Tutor):</div>
              <div class="form-group">
                <label for="nombre">Nombre</label>
                <input type="text" class="form-control" id="nombre" placeholder="Ingrese su nombre">
              </div>

              <div class="form-row">
              <div class="form-group col-md-6">
                <label for="apellido">Primer apellido</label>
                <input type="text" class="form-control" id="apellido" placeholder="Ingrese primer apellido">
              </div>
              <div class="form-group col-md-6">
                <label for="apellido">Segundo apellido</label>
                <input type="text" class="form-control" id="apellido" placeholder="Ingrese segundo apellido">
              </div>
            </div>
              <div class="form-group">
                <label for="carrera">Carrera:</label>
                <input type="text" class="form-control" id="carrera" placeholder="Ingrese la carrera">
              </div>
              <div class="form-group">
                <label for="gradoGrupoTurno">Grado, grupo y turno:</label>
                <input type="text" class="form-control" id="gradoGrupoTurno" placeholder="Ingrese el grado, grupo y turno">
              </div>
              <div class="form-group">
                <label for="numAlumnos">Número de alumnos:</label>
                <input type="number" class="form-control" id="numAlumnos" placeholder="Ingrese el número de alumnos">
              </div>
              <p class="texto-separador">Datos del Ponente:</p>
              <div class="form-group">
                <label for="nombre">Nombre</label>
                <input type="text" class="form-control" id="nombre" placeholder="Ingrese su nombre">
              </div>
        
              <div class="form-group ">
                <label for="apellido">Primer apellido</label>
                <input type="text" class="form-control" id="apellido" placeholder="Ingrese primer apellido">
              </div>
              <div class="form-group">
                <label for="objetivo">Objetivo de la ponencia o la intervención:</label>
                <textarea class="form-control" id="objetivo" rows="4" placeholder="Ingrese el objetivo de la ponencia o la intervención"></textarea>
              </div>
              <div class="form-group">
                <label for="necesidades">Necesidades por cubrir:</label>
                <textarea class="form-control" id="necesidades" rows="4" placeholder="Ingrese las necesidades por cubrir"></textarea>
              </div>
              <p class="texto-separador">Datos del Coordinador:</p>
              <div class="form-group">
                <label for="nombre">Nombre</label>
                <input type="text" class="form-control" id="nombre" placeholder="Ingrese su nombre">
              </div>
        
              <div class="form-group ">
                <label for="apellido">Primer apellido</label>
                <input type="text" class="form-control" id="apellido" placeholder="Ingrese primer apellido">
              </div>

              <div class="text-center">
                <button type="submit" class="btn btn-primary">Enviar</button>
              </div>
             
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

