<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doe</title>
  
<!--Boostrap-->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
<!--Libreria Swiper-->
<link rel="stylesheet"href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>
</head>


    {{>navbar}}
    {{{body}}}


 <!--SCRIPTS-->   
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.js"></script>
 
<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js">
</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
<script>


 
const swiper = new Swiper(".mySwiper", {
      slidesPerView: 3,
      grid: {
        rows: 2,
      },
      spaceBetween: 30,
      pagination: {
        el: ".swiper-pagination",
        clickable: true,
      },
    });
 
</script>



   

   
      <style>
    /* Estilos personalizados */

    body {
      background-color: #f8f9fa;
      font-family: Arial, sans-serif;
    }

    .navbar {
      background-color: #1f305e;
      color: white;
    }
  
.nav-link {
    border-radius: 20px; /* Valor de border-radius para hacer los botones ovalados */
    font-weight: bold; /* Texto en negrita */
    color: white;
  }
  .nav-item:hover .nav-link {
    background-color: #ffdb58; /* Color amarillo mostaza */
    color: #000000; /* Color de texto negro */
  }



    .navbar-brand {
      font-weight: bold;
      font-size: 24px;
    }

    

    .container {
      margin-top: 50px;
      padding: 15px;
    }

    .card {
      border-radius: 10px;
      width: 100%;
      max-width: 900px; /* Ajusta este valor según tus necesidades */
      margin: 0 auto;
      padding: 20px; /* Ajusta este valor según tus necesidades */
    }

    .card-title {
      margin-bottom: 20px;
      font-weight: bold;
      font-size: 20px;
    }

    .form-group label {
      font-weight: bold;
    }

  

    .form-control {
      border-radius: 10px;
    }

    .btn {
      margin-top: 20px;
      background-color: #1f305e;
      color: white;
      font-weight: bold;
    }

    .footer-bar {
      background-color: #1f305e;
      padding: 10px;
      color: white;
      text-align: center;
      font-size: 14px;

    }
    
    .separator {
      border: none;
      height: 1px;
      background-color: blue;
      margin: 20px 0;
    }
    
.navbar-brand img {
    max-width: 180px;
    padding-top: 5;
}
.footer-bar {
      background-color: #1f305e;
      padding: 10px;
      color: white;
      text-align: center;
      font-size: 14px;
    }
    
  </style>

 
    


  